if swiperVar == 0
    div(class=arraySlidersClass[0] id=swiperMainID)
        div(class=arraySliderClassWrappers[0])
            include slide-blocks/slidesMain/slide1
            include slide-blocks/slidesMain/slide2
            include slide-blocks/slidesMain/slide3
            include slide-blocks/slidesMain/slide4
            include slide-blocks/slidesMain/slide5


        
if swiperVar == 1
    div(class=arraySlidersClass[1] id=swiperMainID)



if swiperVar == 2
    div(class=arraySlidersClass[2] id=swiperMainID)